:root {
  --color-background: #1c2127;
  --color-foreground: #ffffff;
  --color-secondary: #a7b1bc;
  --color-secondary-bg: #353945;
  --color-green: #00c076;
  --color-green-bg: #00c0765a;
  --color-red: #ff6838;
  --color-red-bg: #ff68385a;
  --color-blue: #2764ff;
  --color-gradient: linear-gradient(
    90deg,
    #483beb 0%,
    #7847e1 47.92%,
    #dd568d 96.35%
  );
}
