.coin {
  position: relative;
  display: flex;
  align-items: center;
  gap: 8px;
}

.coin_image {
  width: 52px;
}

.coin_label {
  font-weight: 500;
  color: var(--color-foreground);
  font-size: 24px;
}

.coin_caret {
  margin-inline: 8px;
}

.coin_caret--rotate {
  transform: rotate(180deg);
}

.coin_volume {
  color: var(--color-green);
  font-size: 18px;
}

.coin_toggle {
  cursor: pointer;
  padding: 4px;
}

.coin_overlay {
  bottom: 0;
  transform: translateY(100%);
  position: absolute;
  z-index: 5;
  font-size: 14px;
  display: flex;
  flex-direction: column;
}

.coin_backdrop {
  position: fixed;
  inset: 0;
  background-color: rgba(255, 255, 255, 0.091);
  z-index: 4;
}

@media (max-width: 1024px) {
  .coin_image {
    width: 44px;
  }

  .coin_label {
    font-size: 18px;
  }
}
